StreamingToHive_Vanilla.json
{"flowContents":{"identifier":"9d0a5f82-9e5c-3d99-a169-a1eacdcc1c05","name":"StreamingToHive","comments":"","position":{"x":383.0,"y":173.0},"processGroups":[{"identifier":"ec48c021-cc4a-3d39-a026-52fcaae467ff","name":"IoT Data Generator","comments":"","position":{"x":513.9999890360702,"y":199.00000232216732},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"d3668f0b-37b8-329f-aef2-61fd5da77935","name":"Add Errors","comments":"","position":{"x":1021.0279541015625,"y":454.0519714355469},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.2.0-127"},"style":{},"type":"org.apache.nifi.processors.standard.UpdateRecord","properties":{"record-writer":"50b0ca6d-8b12-3a34-864b-a0f46e8e21fa","/sensor_8":"${random():mod(500):plus(500)}","/sensor_9":"${random():mod(500):plus(500)}","/sensor_6":"${random():mod(500):plus(500)}","/sensor_7":"${random():mod(500):plus(500)}","replacement-value-strategy":"literal-value","/sensor_0":"${random():mod(500):plus(500)}","/sensor_1":"${random():mod(500):plus(500)}","/sensor_4":"${random():mod(500):plus(500)}","/sensor_5":"${random():mod(500):plus(500)}","/sensor_2":"${random():mod(500):plus(500)}","/sensor_3":"${random():mod(500):plus(500)}","/sensor_10":"${random():mod(500):plus(500)}","record-reader":"bf84f94d-619b-3320-bd2c-674c09307010","/sensor_11":"${random():mod(500):plus(500)}"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"/sensor_8":{"name":"/sensor_8","displayName":"/sensor_8","identifiesControllerService":false,"sensitive":false},"/sensor_9":{"name":"/sensor_9","displayName":"/sensor_9","identifiesControllerService":false,"sensitive":false},"/sensor_6":{"name":"/sensor_6","displayName":"/sensor_6","identifiesControllerService":false,"sensitive":false},"/sensor_7":{"name":"/sensor_7","displayName":"/sensor_7","identifiesControllerService":false,"sensitive":false},"replacement-value-strategy":{"name":"replacement-value-strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false},"/sensor_0":{"name":"/sensor_0","displayName":"/sensor_0","identifiesControllerService":false,"sensitive":false},"/sensor_1":{"name":"/sensor_1","displayName":"/sensor_1","identifiesControllerService":false,"sensitive":false},"/sensor_4":{"name":"/sensor_4","displayName":"/sensor_4","identifiesControllerService":false,"sensitive":false},"/sensor_5":{"name":"/sensor_5","displayName":"/sensor_5","identifiesControllerService":false,"sensitive":false},"/sensor_2":{"name":"/sensor_2","displayName":"/sensor_2","identifiesControllerService":false,"sensitive":false},"/sensor_3":{"name":"/sensor_3","displayName":"/sensor_3","identifiesControllerService":false,"sensitive":false},"/sensor_10":{"name":"/sensor_10","displayName":"/sensor_10","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"/sensor_11":{"name":"/sensor_11","displayName":"/sensor_11","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"ec48c021-cc4a-3d39-a026-52fcaae467ff"},{"identifier":"646ced4c-3f1f-38b9-b273-e4492450d9e0","name":"UpdateAttribute","comments":"","position":{"x":428.9124755859375,"y":84.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.13.2.2.2.2.0-127"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"injectError":"${random():mod(100):gt(85)}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"injectError":{"name":"injectError","displayName":"injectError","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"ec48c021-cc4a-3d39-a026-52fcaae467ff"},{"identifier":"fd8ecbb2-0f10-3bce-b395-3b8b8ce75b83","name":"GenerateFlowFile","comments":"","position":{"x":424.0,"y":-120.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.2.0-127"},"style":{},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","properties":{"character-set":"UTF-8","File Size":"100B","mime-type":null,"generate-ff-custom-text":"{\n   \"sensor_ts\": ${now():toNumber():multiply(3)},\n   \"sensor_id\": ${random():mod(100)},\n   \"sensor_9\": ${random():mod(10):plus(1)},\n   \"sensor_3\": ${random():mod(40):plus(20)},\n   \"sensor_2\": ${random():mod(5)},\n   \"sensor_1\": ${random():mod(5):plus(1)},\n   \"sensor_0\": ${random():mod(5):plus(1)},\n   \"sensor_7\": ${random():mod(70):plus(80)},\n   \"sensor_6\": ${random():mod(90):plus(10)},\n   \"sensor_5\": ${random():mod(50):plus(50)},\n   \"sensor_8\": ${random():mod(50):plus(1)},\n   \"sensor_4\": ${random():mod(60):plus(1)},\n   \"sensor_11\": ${random():mod(10):plus(1)},\n   \"sensor_10\": ${random():mod(10):plus(1)}\n}","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"ec48c021-cc4a-3d39-a026-52fcaae467ff"},{"identifier":"4bc55808-293c-36b9-b3e8-40b697c961cb","name":"PublishKafkaRecord_2_0","comments":"","position":{"x":264.0,"y":640.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-0-nar","version":"1.13.2.2.2.2.0-127"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_0","properties":{"compression.type":"none","attribute-name-regex":null,"record-writer":"50b0ca6d-8b12-3a34-864b-a0f46e8e21fa","bootstrap.servers":"<BROKERDNS>:9093","sasl.kerberos.principal":"<username>@ENV.CLOUDERA.SITE","sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"sasl.mechanism":"PLAIN","max.block.ms":"5 sec","record-reader":"bf84f94d-619b-3320-bd2c-674c09307010","message-header-encoding":"UTF-8","transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":"<username>","use-transactions":"false","acks":"0","security.protocol":"SASL_SSL","ssl.context.service":"f05f4094-4d20-3951-b996-16a29446ae32","max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"iot"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"ec48c021-cc4a-3d39-a026-52fcaae467ff"},{"identifier":"cb64bfbb-c1dd-3935-9a4a-6c2929eb93cd","name":"Inject \"Random\" Errors","comments":"","position":{"x":426.9124755859375,"y":304.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.2.0-127"},"style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","properties":{"injectError":"${injectError:equals(true)}","Routing Strategy":"Route to Property name"},"propertyDescriptors":{"injectError":{"name":"injectError","displayName":"injectError","identifiesControllerService":false,"sensitive":false},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"ec48c021-cc4a-3d39-a026-52fcaae467ff"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"c23dfb0c-5ed2-313a-8736-6d005a2c17d2","name":"","source":{"id":"cb64bfbb-c1dd-3935-9a4a-6c2929eb93cd","type":"PROCESSOR","groupId":"ec48c021-cc4a-3d39-a026-52fcaae467ff","name":"Inject \"Random\" Errors","comments":""},"destination":{"id":"d3668f0b-37b8-329f-aef2-61fd5da77935","type":"PROCESSOR","groupId":"ec48c021-cc4a-3d39-a026-52fcaae467ff","name":"Add Errors","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["injectError"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ec48c021-cc4a-3d39-a026-52fcaae467ff"},{"identifier":"1b820219-5c5a-38d3-8ef3-60400cf1da04","name":"","source":{"id":"d3668f0b-37b8-329f-aef2-61fd5da77935","type":"PROCESSOR","groupId":"ec48c021-cc4a-3d39-a026-52fcaae467ff","name":"Add Errors","comments":""},"destination":{"id":"eba0cd3e-8beb-3d62-8366-eb547826cfba","type":"FUNNEL","groupId":"ec48c021-cc4a-3d39-a026-52fcaae467ff","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ec48c021-cc4a-3d39-a026-52fcaae467ff"},{"identifier":"c6abb29c-6cdf-30ba-b6ca-b3924712de84","name":"","source":{"id":"d3668f0b-37b8-329f-aef2-61fd5da77935","type":"PROCESSOR","groupId":"ec48c021-cc4a-3d39-a026-52fcaae467ff","name":"Add Errors","comments":""},"destination":{"id":"4bc55808-293c-36b9-b3e8-40b697c961cb","type":"PROCESSOR","groupId":"ec48c021-cc4a-3d39-a026-52fcaae467ff","name":"PublishKafkaRecord_2_0","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ec48c021-cc4a-3d39-a026-52fcaae467ff"},{"identifier":"7c8de09e-218e-3d41-b379-cb50f2efbdef","name":"","source":{"id":"646ced4c-3f1f-38b9-b273-e4492450d9e0","type":"PROCESSOR","groupId":"ec48c021-cc4a-3d39-a026-52fcaae467ff","name":"UpdateAttribute","comments":""},"destination":{"id":"cb64bfbb-c1dd-3935-9a4a-6c2929eb93cd","type":"PROCESSOR","groupId":"ec48c021-cc4a-3d39-a026-52fcaae467ff","name":"Inject \"Random\" Errors","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ec48c021-cc4a-3d39-a026-52fcaae467ff"},{"identifier":"34e13be8-7512-3506-967e-fee7797f5487","name":"","source":{"id":"fd8ecbb2-0f10-3bce-b395-3b8b8ce75b83","type":"PROCESSOR","groupId":"ec48c021-cc4a-3d39-a026-52fcaae467ff","name":"GenerateFlowFile","comments":""},"destination":{"id":"646ced4c-3f1f-38b9-b273-e4492450d9e0","type":"PROCESSOR","groupId":"ec48c021-cc4a-3d39-a026-52fcaae467ff","name":"UpdateAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ec48c021-cc4a-3d39-a026-52fcaae467ff"},{"identifier":"64247acc-2d62-361f-b9b4-a4bd4256e58d","name":"","source":{"id":"cb64bfbb-c1dd-3935-9a4a-6c2929eb93cd","type":"PROCESSOR","groupId":"ec48c021-cc4a-3d39-a026-52fcaae467ff","name":"Inject \"Random\" Errors","comments":""},"destination":{"id":"4bc55808-293c-36b9-b3e8-40b697c961cb","type":"PROCESSOR","groupId":"ec48c021-cc4a-3d39-a026-52fcaae467ff","name":"PublishKafkaRecord_2_0","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ec48c021-cc4a-3d39-a026-52fcaae467ff"},{"identifier":"06883f1f-c7a2-3bad-9c4c-2b81ea7976a5","name":"","source":{"id":"4bc55808-293c-36b9-b3e8-40b697c961cb","type":"PROCESSOR","groupId":"ec48c021-cc4a-3d39-a026-52fcaae467ff","name":"PublishKafkaRecord_2_0","comments":""},"destination":{"id":"eba0cd3e-8beb-3d62-8366-eb547826cfba","type":"FUNNEL","groupId":"ec48c021-cc4a-3d39-a026-52fcaae467ff","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ec48c021-cc4a-3d39-a026-52fcaae467ff"}],"labels":[],"funnels":[{"identifier":"eba0cd3e-8beb-3d62-8366-eb547826cfba","position":{"x":1143.0,"y":806.0},"componentType":"FUNNEL","groupIdentifier":"ec48c021-cc4a-3d39-a026-52fcaae467ff"}],"controllerServices":[{"identifier":"bf84f94d-619b-3320-bd2c-674c09307010","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.13.2.2.2.2.0-127"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.2.0-127"}}],"properties":{"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-branch":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"ec48c021-cc4a-3d39-a026-52fcaae467ff"},{"identifier":"50b0ca6d-8b12-3a34-864b-a0f46e8e21fa","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.13.2.2.2.2.0-127"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.2.0-127"}}],"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"ec48c021-cc4a-3d39-a026-52fcaae467ff"}],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"9d0a5f82-9e5c-3d99-a169-a1eacdcc1c05"},{"identifier":"f7e86ef6-286d-3bc4-a9de-a74c7352fa74","name":"Kafka to Hive","comments":"","position":{"x":937.9999890360702,"y":199.00000232216732},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"7876025f-7e00-3950-aa2a-1ce83ad1d618","name":"ConvertRecord","comments":"","position":{"x":240.0,"y":288.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.2.0-127"},"style":{},"type":"org.apache.nifi.processors.standard.ConvertRecord","properties":{"record-writer":"bfd0d515-2895-3e97-bf38-2cb9ced25734","record-reader":"68a3a46a-d51f-3b0f-8355-8e5a9769534b","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"f7e86ef6-286d-3bc4-a9de-a74c7352fa74"},{"identifier":"058e8396-e5c3-32fc-99b0-d83a09623532","name":"ConvertAvroToJSON","comments":"","position":{"x":688.0,"y":-48.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-avro-nar","version":"1.13.2.2.2.2.0-127"},"style":{},"type":"org.apache.nifi.processors.avro.ConvertAvroToJSON","properties":{"JSON container options":"array","Wrap Single Record":"false","Avro schema":null},"propertyDescriptors":{"JSON container options":{"name":"JSON container options","displayName":"JSON container options","identifiesControllerService":false,"sensitive":false},"Wrap Single Record":{"name":"Wrap Single Record","displayName":"Wrap Single Record","identifiesControllerService":false,"sensitive":false},"Avro schema":{"name":"Avro schema","displayName":"Avro schema","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"f7e86ef6-286d-3bc4-a9de-a74c7352fa74"},{"identifier":"2b6a8ac6-50a3-3817-8493-26c5fb2d5cda","name":"PutHive3Streaming","comments":"","position":{"x":1416.0,"y":-56.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-hive3-nar","version":"1.13.2.2.2.2.0-127"},"style":{},"type":"org.apache.nifi.processors.hive.PutHive3Streaming","properties":{"hive3-stream-call-timeout":"0","kerberos-principal":"<username>","rollback-on-failure":"false","hive3-stream-metastore-uri":"thrift://<MASTERDNS>:9083","hive3-stream-records-per-transaction":"1","kerberos-credentials-service":null,"hive3-stream-part-vals":null,"hive3-config-resources":"/tmp/core-site.xml, /tmp/hdfs-site.xml, /tmp/hive-site.xml","hive3-stream-table-name":"sensors","record-reader":"68a3a46a-d51f-3b0f-8355-8e5a9769534b","hive3-stream-transactions-per-batch":"1","hive3-stream-database-name":"streaming","hive3-stream-disable-optimizations":"false"},"propertyDescriptors":{"hive3-stream-call-timeout":{"name":"hive3-stream-call-timeout","displayName":"Call Timeout","identifiesControllerService":false,"sensitive":false},"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false},"hive3-stream-metastore-uri":{"name":"hive3-stream-metastore-uri","displayName":"Hive Metastore URI","identifiesControllerService":false,"sensitive":false},"hive3-stream-records-per-transaction":{"name":"hive3-stream-records-per-transaction","displayName":"Records per Transaction","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"hive3-stream-part-vals":{"name":"hive3-stream-part-vals","displayName":"Static Partition Values","identifiesControllerService":false,"sensitive":false},"hive3-config-resources":{"name":"hive3-config-resources","displayName":"Hive Configuration Resources","identifiesControllerService":false,"sensitive":false},"hive3-stream-table-name":{"name":"hive3-stream-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"hive3-stream-transactions-per-batch":{"name":"hive3-stream-transactions-per-batch","displayName":"Transactions per Batch","identifiesControllerService":false,"sensitive":false},"hive3-stream-database-name":{"name":"hive3-stream-database-name","displayName":"Database Name","identifiesControllerService":false,"sensitive":false},"hive3-stream-disable-optimizations":{"name":"hive3-stream-disable-optimizations","displayName":"Disable Streaming Optimizations","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"f7e86ef6-286d-3bc4-a9de-a74c7352fa74"},{"identifier":"8c233529-4a0b-3af0-a620-8e4110ecf591","name":"ConsumeKafka_2_0","comments":"","position":{"x":240.0,"y":-72.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-0-nar","version":"1.13.2.2.2.2.0-127"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_2_0","properties":{"header-name-regex":null,"sasl.username":"<username>","max.poll.records":"10000","group.id":"Group1","bootstrap.servers":"<BROKERDNS>:9093","topic_type":"names","sasl.kerberos.principal":"<username>@ENV.CLOUDERA.SITE","sasl.kerberos.service.name":null,"security.protocol":"SASL_SSL","kerberos-credentials-service":null,"ssl.context.service":"f05f4094-4d20-3951-b996-16a29446ae32","max-uncommit-offset-wait":"1 secs","sasl.mechanism":"PLAIN","sasl.token.auth":"false","sasl.kerberos.keytab":null,"honor-transactions":"true","Communications Timeout":"60 secs","topic":"iot","separate-by-key":"false","message-header-encoding":"UTF-8","message-demarcator":null,"key-attribute-encoding":"utf-8","auto.offset.reset":"latest"},"propertyDescriptors":{"header-name-regex":{"name":"header-name-regex","displayName":"Headers to Add as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false},"group.id":{"name":"group.id","displayName":"Group ID","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"topic_type":{"name":"topic_type","displayName":"Topic Name Format","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max-uncommit-offset-wait":{"name":"max-uncommit-offset-wait","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"honor-transactions":{"name":"honor-transactions","displayName":"Honor Transactions","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name(s)","identifiesControllerService":false,"sensitive":false},"separate-by-key":{"name":"separate-by-key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Offset Reset","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"f7e86ef6-286d-3bc4-a9de-a74c7352fa74"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"0cbf2575-e2a6-3e50-938c-f2b41c3d449d","name":"","source":{"id":"058e8396-e5c3-32fc-99b0-d83a09623532","type":"PROCESSOR","groupId":"f7e86ef6-286d-3bc4-a9de-a74c7352fa74","name":"ConvertAvroToJSON","comments":""},"destination":{"id":"2b6a8ac6-50a3-3817-8493-26c5fb2d5cda","type":"PROCESSOR","groupId":"f7e86ef6-286d-3bc4-a9de-a74c7352fa74","name":"PutHive3Streaming","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f7e86ef6-286d-3bc4-a9de-a74c7352fa74"},{"identifier":"c412e411-88bb-33df-8ebe-8b8871a05742","name":"","source":{"id":"8c233529-4a0b-3af0-a620-8e4110ecf591","type":"PROCESSOR","groupId":"f7e86ef6-286d-3bc4-a9de-a74c7352fa74","name":"ConsumeKafka_2_0","comments":""},"destination":{"id":"7876025f-7e00-3950-aa2a-1ce83ad1d618","type":"PROCESSOR","groupId":"f7e86ef6-286d-3bc4-a9de-a74c7352fa74","name":"ConvertRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f7e86ef6-286d-3bc4-a9de-a74c7352fa74"},{"identifier":"6c4e3ef3-63aa-3beb-ba9c-01d7d61d0785","name":"","source":{"id":"058e8396-e5c3-32fc-99b0-d83a09623532","type":"PROCESSOR","groupId":"f7e86ef6-286d-3bc4-a9de-a74c7352fa74","name":"ConvertAvroToJSON","comments":""},"destination":{"id":"cf599c6a-323c-3858-bdcd-90298d67a95f","type":"FUNNEL","groupId":"f7e86ef6-286d-3bc4-a9de-a74c7352fa74","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f7e86ef6-286d-3bc4-a9de-a74c7352fa74"},{"identifier":"6ac1e779-8a84-3f2b-9a83-243234266691","name":"","source":{"id":"2b6a8ac6-50a3-3817-8493-26c5fb2d5cda","type":"PROCESSOR","groupId":"f7e86ef6-286d-3bc4-a9de-a74c7352fa74","name":"PutHive3Streaming","comments":""},"destination":{"id":"cf599c6a-323c-3858-bdcd-90298d67a95f","type":"FUNNEL","groupId":"f7e86ef6-286d-3bc4-a9de-a74c7352fa74","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f7e86ef6-286d-3bc4-a9de-a74c7352fa74"},{"identifier":"ecceed6c-b9e5-315e-b41e-38597e8e4ec7","name":"","source":{"id":"7876025f-7e00-3950-aa2a-1ce83ad1d618","type":"PROCESSOR","groupId":"f7e86ef6-286d-3bc4-a9de-a74c7352fa74","name":"ConvertRecord","comments":""},"destination":{"id":"058e8396-e5c3-32fc-99b0-d83a09623532","type":"PROCESSOR","groupId":"f7e86ef6-286d-3bc4-a9de-a74c7352fa74","name":"ConvertAvroToJSON","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f7e86ef6-286d-3bc4-a9de-a74c7352fa74"},{"identifier":"f5efc7b8-6bd6-325a-af02-3a94c5084c9b","name":"","source":{"id":"7876025f-7e00-3950-aa2a-1ce83ad1d618","type":"PROCESSOR","groupId":"f7e86ef6-286d-3bc4-a9de-a74c7352fa74","name":"ConvertRecord","comments":""},"destination":{"id":"cf599c6a-323c-3858-bdcd-90298d67a95f","type":"FUNNEL","groupId":"f7e86ef6-286d-3bc4-a9de-a74c7352fa74","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f7e86ef6-286d-3bc4-a9de-a74c7352fa74"}],"labels":[],"funnels":[{"identifier":"cf599c6a-323c-3858-bdcd-90298d67a95f","position":{"x":920.0,"y":816.0},"componentType":"FUNNEL","groupIdentifier":"f7e86ef6-286d-3bc4-a9de-a74c7352fa74"}],"controllerServices":[{"identifier":"68a3a46a-d51f-3b0f-8355-8e5a9769534b","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.13.2.2.2.2.0-127"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.2.0-127"}}],"properties":{"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-branch":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"f7e86ef6-286d-3bc4-a9de-a74c7352fa74"},{"identifier":"bfd0d515-2895-3e97-bf38-2cb9ced25734","name":"AvroRecordSetWriter","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.13.2.2.2.2.0-127"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.2.0-127"}}],"properties":{"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"encoder-pool-size":"32","schema-cache":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"f7e86ef6-286d-3bc4-a9de-a74c7352fa74"}],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"9d0a5f82-9e5c-3d99-a169-a1eacdcc1c05"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{"f05f4094-4d20-3951-b996-16a29446ae32":{"identifier":"f05f4094-4d20-3951-b996-16a29446ae32","name":"Default NiFi SSL Context Service"}},"parameterContexts":{},"flowEncodingVersion":"1.0"}